@use '@/styles/variables.scss' as *;

.teacherCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  user-select: none;

  .image {
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 20px;
    object-fit: cover;
  }

  .description {
    margin-top: 20px;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
  }

  .role {
    margin-top: 10px;
    font-size: 18px;
    color: $text-color-tertiary;
  }

  .button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .teacherCard {
    max-width: 220px;

    .title {
      font-size: 20px;
    }

    .role {
      font-size: 14px;
    }

    .button {
      font-size: 16px;
    }
  }
}
