@use '@/styles/variables.scss' as *;

.item {
  flex-basis: 360px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
  }

  .text {
    font-size: 18px;
    color: $text-color-tertiary;
  }
}

@media (max-width: 768px) {
  .item {
    flex-basis: 300px;

    .content {
      gap: 10px;
      text-align: center;
    }

    .title {
      font-size: 20px;
    }

    .text {
      font-size: 16px;
    }
  }
}
