@use '@/styles/variables.scss' as *;

.benefits {
  background-color: $bg-color-tertiary;
  padding: 100px 0;

  .wrapper {
    .title {
      font-size: 50px;
      font-weight: 600;
    }

    .items {
      margin-top: 60px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
}

@media (max-width: 768px) {
  .benefits {
    padding: 40px 0 52px;

    .wrapper {
      .title {
        font-size: 30px;
        line-height: 1.3;
        text-align: center;
      }

      .items {
        margin-top: 40px;
      }
    }
  }
}
